extends layout
    
block content
  .container-lecture
    section.header
      h3.headline 시간표 만들기
    section.section-nav
      form#search-form.form-search
        input(type="text").form-control(placeholder='강의 검색')
        span
          i.material-icons.ic-search search
      ul.list-lecture
        -var lec = [{lecture: '논리회로', professor: '이명숙', location: 'A동403', start_time:10, end_time:12, dayofweek:['월','금']},{lecture: '논리회로2', professor: '이명숙', location: 'A동403', start_time:10, end_time:12, dayofweek:['월','금']},{lecture: '논리회로3', professor: '이명숙', location: 'A동403', start_time:10, end_time:12, dayofweek:['월','금']}] 
        each val in lec
          include component/lectureCard.pug
    section.section-list
      .container-xl
        header.header-timetable-info
          h3 2019년 11월
          .btn-group(role="group")
            button(type="button").btn.btn-light.btn-previous
              i.material-icons.ic-previous chevron_left
            button(type="button").btn.btn-light.btn-today 오늘  
            button(type="button").btn.btn-light.btn-next
              i.material-icons.ic-next chevron_right
        .table-schedule
          .timeline
            mixin time(t) 
              li
                span= t 
            ul
              -var times = ['09:00','09:30','10:00','10:30','11:00','11:30','12:00','12:30','13:00','13:30','14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30','18:00','18:30']                    
              each t in times
                +time(t)
          .table-schedule-subject
            ul.list-lecture-item
              -var week = [{ 'day':"Mon" , 'lec':[{lecture: '논리회로', location: 'A동403', data:'lecture-01', class:'hr-11'},{lecture: '논리회로', location: 'A동403', data:'lecture-02', class:'hr-13'},{lecture: '논리회로', location: 'A동403', data:'lecture-03', class:'hr-16'}]},{ 'day':"Tue" , 'lec':[{lecture: '논리회로', location: 'A동403', data:'lecture-01', class:'hr-11'},{lecture: '논리회로', location: 'A동403', data:'lecture-02', class:'hr-13'},{lecture: '논리회로', location: 'A동403', data:'lecture-03', class:'hr-16'}]},{ 'day':"Wed" , 'lec':[{lecture: '논리회로', location: 'A동403', data:'lecture-01', class:'hr-11'},{lecture: '논리회로', location: 'A동403', data:'lecture-02', class:'hr-13'},{lecture: '논리회로', location: 'A동403', data:'lecture-03', class:'hr-16'}]},{ 'day':"Thu" , 'lec':[{lecture: '논리회로', location: 'A동403', data:'lecture-01', class:'hr-11'},{lecture: '논리회로', location: 'A동403', data:'lecture-02', class:'hr-13'},{lecture: '논리회로', location: 'A동403', data:'lecture-03', class:'hr-16'}]},{ 'day':"Fri" , 'lec':[{lecture: '논리회로', location: 'A동403', data:'lecture-01', class:'hr-9'},{lecture: '논리회로', location: 'A동403', data:'lecture-02', class:'hr-13'},{lecture: '논리회로', location: 'A동403', data:'lecture-03', class:'hr-16'}]}]
              each days in week
                include component/week.pug
  .modal.fade(id="modal-lecture-info" role="dialog" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        include component/modal/common.pug
        .modal-body
          -var selectItem = {'title': '웹 프로그래밍', 'contents':[{'kind': 'access_alarm', 'val':'강의 시간 : 09:00 - 10:50 | (월), (수)'},{'kind': 'code', 'val':'교과목 코드 : A0000001'},{'kind': 'school', 'val':'담당 교수 : 김진수'},{'kind': 'business', 'val':'강의실 : 공학관 204'}], 'info': '본 강의에서는 JSP를 이용한 웹 기반 프로그래밍 기초 및 응용기술에 대해 학습합니다. 특히 실습 위주의 수업으로 프로그래밍 스킬 향상 및 실무 능력을 갖출 수 있도록 합니다.'}
          include component/modal/modalbody.pug
        .modal-footer
          button(type="button" data-dismiss="modal").btn.btn-light  취소
          button(type="button").btn.btn-primary 과목 등록하기
  .modal.fade(id="modal-lecture-task" role="dialog" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        include component/modal/common.pug
        .modal-body
          -var selectItem = {'title': '웹 프로그래밍', 'contents':[{'kind': 'access_alarm', 'val':'강의 시간 : 09:00 - 10:50 | (월), (수)'},{'kind': 'code', 'val':'교과목 코드 : A0000001'},{'kind': 'school', 'val':'담당 교수 : 김진수'},{'kind': 'business', 'val':'강의실 : 공학관 204'}], 'info': '본 강의에서는 JSP를 이용한 웹 기반 프로그래밍 기초 및 응용기술에 대해 학습합니다. 특히 실습 위주의 수업으로 프로그래밍 스킬 향상 및 실무 능력을 갖출 수 있도록 합니다.'}
          include component/modal/modalbody.pug
          .lecture-memo
            .memo-header 메모
            ul
              li.memo-list
                .memo-content(data-toggle="tooltip" data-placement="top" title="" data-original-title="과제 설명 텍스트 과제 설명 텍스트 과제 설명 텍스트")
                  i.material-icons.ic-lecture-noti assignment
                  span.lecture-noti-title 과제 제목 텍스트
                .memo-btn
                  a(href="")
                    i.material-icons.ic-lecture-noti delete
        .modal-footer
          .left
            button(type="button" data-toggle="popover" data-trigger="click" data-placement="right" data-html="true").btn.btn-light-primary 메모 등록
          .right
            button(type="button" data-dismiss="modal").btn.btn-light 확인
            button(type="button").btn.btn-danger 과목 삭제하기
  #PopoverContent(style="display: none;")
    h5.schedule-title 메모 등록하기
      .form-group
        label.col-form-label 제목
          input(type="text").form-control(id="recipient-name" placeholder="제목 추가")
      .form-group
        label(for="message-text").col-form-label 설명
        textarea.form-control(id="message-text" placeholder="설명 추가")
      button(type="button").btn.btn-primary.btn-save 등록