extends layout
    
block content
  .container-lecture
    section.header
      h3.headline 시간표 만들기
    section.section-nav
      form#search-form.form-search
        input(type="text").form-control(placeholder='강의 검색')
        span
          i.material-icons.ic-search search
      ul.list-lecture
        each val in course
          include component/lectureCard.pug
    section.section-list
      .container-xl
        header.header-timetable-info
          h3 2019년 11월
        .table-schedule
          .timeline
            mixin time(t) 
              li
                span= t 
            ul
              -var times = ['09:00','09:30','10:00','10:30','11:00','11:30','12:00','12:30','13:00','13:30','14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30','18:00','18:30']                    
              each t in times
                +time(t)
          .table-schedule-subject
            ul.list-lecture-item
              each days in schedule
                include component/week.pug
  .modal.fade(id="modal-lecture-info" role="dialog" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        include component/modal/common.pug
        .modal-body
        .modal-footer
          button(type="button" data-dismiss="modal").btn.btn-light 취소
          button(type="button").btn.btn-primary 과목 등록하기
  .modal.fade(id="modal-lecture-task" role="dialog" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        include component/modal/common.pug
        .modal-body
        .modal-footer
          .left
            button(type="button" data-toggle="popover" data-trigger="click" data-placement="right" data-html="true").btn.btn-light-primary 메모 등록
          .right
            button(type="button" data-dismiss="modal").btn.btn-light 확인
            button(type="button").btn.btn-danger 과목 삭제하기
  #PopoverContent(style="display: none;")
    h5.schedule-title 메모 등록하기
      .form-group
        label.col-form-label 제목
          input(type="text").form-control(id="recipient-name" placeholder="제목 추가")
      .form-group
        label(for="message-text").col-form-label 설명
        textarea.form-control(id="message-text" placeholder="설명 추가")
      button(type="button").btn.btn-primary.btn-save(onclick="memobtnAction()") 등록