li.lecture-time.two-hr(class=val.class data-event=val.data)
    a(href="#")
        .lecture-info
            h6.lecture-title #{val.lecture}
            h6.lecture-location #{val.location}
        .lecture-noti(data-toggle="tooltip" data-placement="top" title="" data-original-title="과제 설명 텍스트 과제 설명 텍스트 과제 설명 텍스트")
            i.material-icons.ic-lecture-noti assignment
            span.lecture-noti-title 과제 제목 텍스트